.feedback-container {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    color: #495e57;
    overflow: hidden;
}

.feedbackIcon {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.feedbackIcon_div {
    overflow: hidden;
    border-bottom: 2px dotted #495e57;
}

.startImg {
    margin-right: 3px;
    margin-left: 3px;
    width: 20px;
    height: 20px;
}

.starsDiv {
    margin-top: 10px;
}
